<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Bluebird</title>
    <style>
        p {
            margin: 0 auto;
            width:40%;
        }
        hr {
            width:50%;
            margin:0 auto;
}
    </style>
</head>
<body>
    <p>page preview</p>
    <br>
    <br>
    <h2>Gianna!</h2>
    <p>Hi guys, I'm Gianna Dunkeld, and I'm almost 25. I'll be 25 on May 20th! I'm currently looking for a job. If you want to contact me, my email is gdunkeld@eps.com. I look forward to meeting you!</p>
    <br>
    <hr>
    <h2>Bryan</h2>
    <p>Hi guys, I'm Bryan Anderson, and I am currently 19. I love soccer and my favorite animal is the platypus. I'm always open for DMs, so feel free to message me whenever.</p>
    <br>
    <hr>
    <h2>Mark</h2>
    <p>Hello, my name is Mark. I'm 43 and like to play golf. If anyone wants to go out and play sometime then just message me. My gmail is mark@eps.com.</p>
    <br>
    <hr>
    <h2>Bob</h2>
    <p>Hey guys, I'm Bob Robinson. My favorite food is chicken nuggets, and my birthday is in exactly one week (as of today, 06/11/22)! All of you guys are invited to my birthday party. If you want to come, DM me and I'll give you an address. It's hosted at my girlfriend's house: she's an ice skater, and let me tell you, she is an absolute queen at skating. I love her so much. It's amazing. She's a great person. She even has the same birthday as me! If that isn't fate, I don't know what is. We're a perfect pair. She even wrote a poem for me! It goes like this:<br>    A million stars up in the sky.<br>    One shines brighter - I can't deny.<br>    A love so precious, a love so true,<br>    a love that comes from me to you. <br>Isn't it such a great poem?</p>
    <br>
    <hr>
    <h2>York</h2>
    <p>Greetings, my name is York and I own a business known as York's Pork. York's Pork has many forks, corks, and storks that like to work the uncorker. We also have an artowrk of a hayfork in a piece of pork with a cork. I also enjoy leatherwork.</p>
    <br>
    <hr>
    <br>
    <br>
<a href="{{ url_for('index') }}">
<button>back</button>
</a> 
</body>
</html>
