<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>HOME</title>
</head>
<body>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
    <h1>PASSWORD HACKER</h1>
    <p>score: {{ session['score'] }}</p>
    <div class="row">
        <div class="column">
            <h2>AVAILIABLE FILES</h2>
            {% for file in session['files'] %}
                <a href="/files/{{file}}">
                    {{ file }}
                </a>
                <br>
            {% endfor %}
        </div>
        <div class="column">
            <h2>AVAILABLE WEBSITES</h2>
            {% for site in session['sites'] %}
                <a href="/sites/{{site}}">
                    {{ site }}
                </a>
            <br>
            {% endfor %}
        </div>
    </div>

</body>
</html>
